
.completed {
    text-decoration: line-through; 
    color: #999; 
  }
  
  .ion-text-end ion-button {
    --padding-end: 8px; 
    --padding-start: 8px; 
  }
  
 
  ion-icon[name="trash-outline"] {
    color: #ff6347; 
  }
  

  ion-icon[name="create-outline"] {
    color: #ffa500;
  }
  